@model ReporteTransaccionesDetalladas
@{
    ViewData["Title"] = "Reporte Diario";
}

<partial name="_Submenu" model = "SubMenuTransacciones.Diario" />

<h1>Indice de transacciones</h1>

<partial name="_ReporteTransaccionesDetalladas" model="Model" />